body {
  background-color: rgb(86, 138, 180);
  font-family: 'Titillium Web', Roboto Slab, serif;
  font-size: 24px;
  max-width: 100%;
}

/* FLEX top */

.flexTop {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  margin-left: 12%;
  padding-left: 5%;
  padding-right: 5%;
}

.flexTop>div {
  margin: 2%;
  padding: 1%;
  min-width: 30%;
  text-align: center;
  border-right-style: solid;
  border-right-width: 3px;
}

ul{
  letter-spacing: 0.5px;
}

/* FLEX middle */

.flexMiddle {
  display: flex;
  flex-wrap: nowrap;
  /* flex-grow: 1; */
  background-color: rgb(35, 70, 136);
  border-top-left-radius: 2% 15%;
  border-top-right-radius: 20% 80%;
  border-bottom-left-radius: 20% 80%;
  border-bottom-right-radius: 2% 15%;
  border-style: solid;
  border-color: white;
  margin: 1%;
  margin-left: 2%;
  justify-content: left;
  padding: 1%;
  position: relative;
  /* adaptation titre */
  font-size: 36px;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.flexMiddle>div {
  /* color: white; */
  /* font-weight: bold; */
  /* font-size: 36px; */
  /* letter-spacing: 1px; */
  /* word-spacing: 2px; */
  padding-left: 22%;
  max-width: 100%;
}

.imageLook {
  float: left;
  border-radius: 50%;
  width: 230px;
  height: 300px;
  position: absolute;
  top: -220px;
  left: -30px;
}

/* FLEX bottom */

.flexBottom {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: #aaaaaa;
  max-width: 100%;
  /* margin: 5px; */
  /* padding: 5px; */
}

.flexBottomLeft, .flexBottomRight {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-shrink: 1;
  border-radius: 10px;
  padding: 5px;
  /* margin-left: 1%; */
  /* margin-right: 2%; */
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 26%;
}

.flexBottomRight {
  background-color: #dddddd;
}

/* Autre */

.boldUnder {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 5px #757575;
}

.indenter {
  text-indent: 20px;
}

.indenterList {
  list-style-type: none;
}

/* LIEN */

a:link {
  color: white;
}

a:visited {
  color: #909090;
}

/* MEDIA print */

@media print {
  body {
    background-color: white;
    size: portrait;
    margin: 1%;
    max-width: 100%;
    font-size: 0.6em;
  }
  .flexMiddle {
    border-style: solid;
    border-color: #757575;
  }
  .flexMiddle>div {
    font-size: 18px;
    color: black;
    padding-left: 18%;
  }
  .imageLook {
    height: 14%;
  }
  .flexBottom {
    border-style: solid;
    margin: 2%;
  }
  .flexBottomLeft, .flexBottomRight {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    min-width: 15%;
  }
  .flexBottomRight {
    border-style: solid;
    border-color: #757575;
    border-style: groove;
  } 
}

/* bootstrap responsive breakpoints */


@media screen and (max-width: 575px) {
  body {  
    font-size: 0.6em;
  }
  .image {
    display: none;
  }
  .flexMiddle>div {
    font-size: 0.4em;
    /* letter-spacing: 1px; */
    /* word-spacing: 2px; */
  }
  .imageLook {
    width: 70px;
    height: 150px;
    top: -131px;
    left: -17px;
  }
  ul{
    padding-inline-start: 0.6em;
  }
  .flexBottom{
    flex-direction: column;
  }
}

@media screen and (min-width: 576px )
                and (max-width: 767px) {
  body {
    font-size: 0.6em;
  }
  .flexMiddle>div {
    font-size: 0.6em;
    /* letter-spacing: 1px; */
    /* word-spacing: 2px; */
  }
  .imageLook {
    width: 85px;
    height: 120px;
    top: -100px;
    left: -18px;
  }
  ul{
    padding-inline-start: 0.6em;
  }
}

@media screen and (min-width: 768px )
                and (max-width: 991px) {
  body {
    font-size: 0.8em;
  }
  .flexMiddle>div {
    font-size: 0.85em;
    /* letter-spacing: 1px; */
    /* word-spacing: 2px; */
  }
  .imageLook {
    width: 115px;
    height: 160px;
    top: -130px;
    left: -22px;
  }
  ul{
    padding-inline-start: 0.8em;
  }
}

@media screen and (min-width: 992px )
                and (max-width: 1199px) {
  body {
    font-size: 0.9em;
  }
  /* .flexMiddle { */
    /* font-size: 90%; */
    /* letter-spacing: 1px; */
    /* word-spacing: 2px; */
  }
  .flexMiddle>div {
    font-size: 0.9em;
    /* letter-spacing: 1px; */
    /* word-spacing: 2px; */
  }
  .imageLook {
    width: 140px;
    height: 190px;
    top: -150px;
    left: -24px;
  }
  ul{
    padding-inline-start: 0.9em;
  }
}
