body {
  font-family: 'Titillium Web', Roboto Slab, serif;
  font-size: 1rem;
  max-width: 100%;

  --darkColor: #333333;
  --lightColor: #fff0e0;
  --greenColor: #669966;
  --fontColor: #ffc278;
}

/* flexTop container */

.right {
  position: absolute;
  top: 0;
  background-color: var(--lightColor);
  color: var(--darkColor);
  font-size: 1rem;
}

.title-0 {
  background-color: var(--greenColor);
  color: var(--darkColor);
  font-size: 1.4rem;
  position: relative;
  top: 0;
  width: 95%;
  height: 8%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 16px;
}

.title-1 {
  color: var(--greenColor);
  font-weight: bold;
}

.title-2 {
  color: var(--darkColor);
}

.right-content {
  position: relative;
}

.left {
  position: absolute;
  top: 188%;
  background-color: var(--darkColor);
  color: var(--fontColor);
  font-size: 1rem;
}


/* ----------------------------- */

ul {
  letter-spacing: 0.5px;
  padding-inline-start: 0.9em;
}

/* flexMiddle container*/

.flexMiddle {
  
  letter-spacing: 1px;
  word-spacing: 2px;
}

/*  headings specifications*/

.boldUnder {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 5px var(--bgColor);
}

/* lists indentation specifications */

.indenter {
  text-indent: 20px;
}

.indenterList {
  list-style-type: none;
}

/* links */

a:link {
  color: var(--fullColor);
}

a:visited {
  color: #909090;
}

/* media queries */

@media print {
  body {
    background-color: var(--fullColor);
    size: portrait;
    margin: 1%;
    max-width: 100%;
    font-size: 0.6em;
  }
  .flexMiddle {
    border-style: solid;
    border-color: var(--bgColor);
  }
  .flexMiddle>div {
    font-size: 18px;
    color: #000000;
    padding-left: 18%;
  }
  .imageLook {
    height: 14%;
  }
  .flexBottom {
    border-style: solid;
    margin: 2%;
  }
  .flexBottomLeft, .flexBottomRight {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    min-width: 15%;
  }
  .flexBottomRight {
    border-style: solid;
    border-color: var(--bgColor);
    border-style: groove;
  }
}

/* bootstrap responsive breakpoints */

/* XS size screen */

@media screen and (max-width: 575px) {
  /* XS - main font size update */
  body {
    font-size: 0.6em;
  }
  /* XS - middle font size update */
  .flexMiddle {
    font-size: 1em;
  }
  /* XS - image size update */
  .imageLook {
    width: 70px;
    height: 150px;
    top: -131px;
    left: -17px;
  }
  /* XS - lists indentation update */
  ul {
    padding-inline-start: 0.7em;
  }
  /* XS - main flex direction toggle */
  .flexBottom {
    flex-direction: column;
  }
}

/* S size screen */

@media screen and (min-width: 576px) and (max-width: 767px) {
  /* S - main font size update */
  body {
    font-size: 0.6em;
  }
  /* S - middle font size update */
  .flexMiddle {
    font-size: 1.2em;
  }
  /* S - image size update */
  .imageLook {
    width: 85px;
    height: 120px;
    top: -100px;
    left: -18px;
  }
  /* S - lists indentation update */
  ul {
    padding-inline-start: 0.7em;
  }
}

/* M size screen */

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* M - main font size update */
  body {
    font-size: 0.8em;
  }
  /* M - middle font size update */
  .flexMiddle {
    font-size: 1.4em;
  }
  /* M - image size update */
  .imageLook {
    width: 115px;
    height: 160px;
    top: -130px;
    left: -22px;
  }
  /* M - lists indentation update */
  ul {
    padding-inline-start: 0.8em;
  }
}

/* L size screen */

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /* L - main font size update */
  body {
    font-size: 1em;
  }
  /* L - middle font size update */
  .flexMiddle {
    font-size: 1.7em;
  }
  /* L - image size update */
  .imageLook {
    width: 140px;
    height: 190px;
    top: -150px;
    left: -24px;
  }
  /* L - lists indentation update */
  ul {
    padding-inline-start: 0.8em;
  }
}