body {
  font-family: 'Titillium Web', Roboto Slab, serif;
  font-size: 1rem;
  max-width: 100%;
  padding-top: 0;
  margin-top: 0;

  --darkColor: #333333;
  --backColor: #505050;
  --lightColor: #fff0e0;
  --greenColor: #669966;
  --fontColor: #e6ccb3;
}

.item-title-0 {
  grid-area: title;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 7px;
  margin-bottom: 5px;
  z-index: 1;
  background-image: linear-gradient(var(--greenColor), var(--lightColor));
  color: var(--darkColor);
  font-size: 1.6rem;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.title-1 {
  color: var(--greenColor);
  font-weight: bold;
  font-size: 1.4rem;
}

.title-2 {
  color: var(--darkColor);
}

.item-right,
.item-left,
.item-contact {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.item-right {
  grid-area: right;
  background-color: var(--lightColor);
  color: var(--darkColor);
  border-radius: 0 0 10px 10px;
}

.item-left {
  grid-area: left;
  margin-top: 8px;
  background-color: var(--backColor);
  color: var(--fontColor);
  border-radius: 0 0 10px 10px;
}

.item-contact {
  grid-area: contact;
  margin-top: 8px;
  background-color: var(--backColor);
  color: var(--fontColor);
  text-align: center;
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-areas:
    'title'
    'right'
    'left'
    'contact';
}

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  margin-left: 2px;
  margin-right: 2px;
}

.icon-alone {
  margin-left: 10px;
  margin-right: 10px;
}

.media-print {
  display: none;
}

.right-content {
  width: 100%;
  font-size: 0.8rem;
}

.langue {
  grid-area: name;
  justify-self: start;
}

.skill-bar {
  grid-area: level;
  justify-self: end;
  align-self: center;
  width: 160px;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1ch;
}

.li-title li {
  /* width: 60%; */
  text-align: end;
}

.li-container {
  display: grid;
  grid-template-columns: 80px 160px;
  grid-template-rows: auto;
  grid-template-areas:
    "name level"
}


.skill-level {
  width: 12px;
  height: 12px;
  border: 1px solid;
  border-radius: 50%;
}

.skill-0 {
  background-color: var(--backColor);
}

.skill-1 {
  background-color: var(--greenColor);
}

p {
  margin: 7px 3px;
}

ul {
  padding-inline-start: 2em;
  letter-spacing: 0.5px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

li {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

li>p,
.li-under {
  font-weight: normal;
}

.li-under {
  margin-bottom: 0.3rem;
}

/* links */

a:link {
  color: var(--fontColor);
}

a:visited {
  color: #909090;
}

/* media queries */

@media print {
  body {
    size: portrait;
    background-color: #fff;
    color: #000;
    margin: 1%;
    max-width: 100%;
    /* font-size: 0.6em; */
  }

  .container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 5% auto 20%;
    grid-template-areas:
      'title title'
      'left right'
      'contact right';
  }

  .item-right,
  .item-left,
  .item-contact {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    color: #000;


  }

  .item-right,
  .item-left {
    margin-top: 40px;
  }

  .right-content {
    font-size: 1rem;
  }

  .item-contact {
    border: 1px solid #000;
    margin-left: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .formation {
    margin-top: 80px;
  }

  .item-title-0 {
    font-size: 2rem;
  }

  .title-1 {
    font-size: 1.4rem;
  }

  a:link,
  a:visited {
    color: #000;
  }

  .item-contact .media-print {
    font-size: 0.8rem;
  }


  .media-print {
    display: inline;
  }
}

/* bootstrap responsive breakpoints */

@media screen and (min-width: 576px) and (max-width: 767px) {

  .item-right,
  .right-content,
  .item-left,
  .item-contact {
    font-size: 1rem;
  }

  .item-title-0 {
    font-size: 1.8rem;
  }

  .title-1 {
    font-size: 1.6rem;
  }

  .competences,
  .formation,
  .technologies,
  .langues,
  .interets,
  .divers {
    padding-left: 5%;
    padding-right: 10px;
  }

  .li-container {
    grid-template-columns: 100px 200px;
  }

  .skill-level {
    width: 14px;
    height: 14px;
  }
}

/* tablettes */
@media screen and (min-width: 768px) {

  .item-right,
  .right-content,
  .item-left,
  .item-contact {
    font-size: 1.2rem;
    width: 80%;
  }

  .right-content {
    font-size: 1.2rem;
  }

  .item-title-0 {
    font-size: 2rem;
  }

  .title-1 {
    font-size: 1.8rem;
  }

  .competences,
  .formation,
  .technologies,
  .langues,
  .interets,
  .divers {
    padding-left: 8%;
    padding-right: 10px;
  }

  .li-container {
    grid-template-columns: 100px 240px;
  }

  .skill-level {
    width: 16px;
    height: 16px;
  }
}

@media screen and (min-width: 992px) {

  .item-right,
  .right-content,
  .item-left,
  .item-contact {
    font-size: 1.4rem;
  }

  .right-content {
    width: 95%;
  }

  .item-title-0 {
    font-size: 2.2rem;
  }

  .title-1 {
    font-size: 2rem;
  }

  .li-container {
    grid-template-columns: 150px 250px;
  }

  .skill-level {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1200px) {

  .container {
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 180px;
    grid-template-areas:
      'title title'
      'left right'
      'contact right';
  }

  .item-right,
  .item-left,
  .item-contact {
    font-size: 1.4rem;
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
  }

  .item-left {
    margin-top: 0;
  }

  .right-content {
    font-size: 1.4rem;
  }

  .item-title-0 {
    font-size: 2.2rem;
  }

  .title-1 {
    font-size: 2rem;
  }

}