body {
  font-family: 'Titillium Web', Roboto Slab, serif;
  font-size: 1rem;
  max-width: 100%;
  padding-top: 0;
  margin-top: 0;

  --darkColor: #333333;
  --lightColor: #fff0e0;
  --greenColor: #669966;
  --fontColor: #ffc278;
}

.title-0 {
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 5px;
  z-index: 1;
  /* background-color: var(--greenColor); */
  background-image: linear-gradient(var(--greenColor), var(--lightColor));
  color: var(--darkColor);
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.title-1 {
  color: var(--greenColor);
  font-weight: bold;
  font-size: 1.2rem;
}

.title-2 {
  color: var(--darkColor);
}

.right,
.left,
.contact {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.right {
  background-color: var(--lightColor);
  color: var(--darkColor);
  /* font-size: 1rem; */
}

.left {
  background-color: var(--darkColor);
  color: var(--fontColor);
  /* font-size: 0.8rem; */
}

.contact {
  /* display: none; */
  position: relative;
  /* width: 100%; */
  /* padding-top: 10px; */
  margin-top: 10px;
  background-color: var(--darkColor);
  /* background-image: linear-gradient(var(--darkColor),#555555); */
  color: var(--fontColor);
  text-align: center;
  /* font-size: 0.8rem; */
  border-radius: 10px;
  /* animation-name: contact-popup;
  animation-delay: 1s;
  animation-duration: 4s; */
}

.icon {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  margin-left: 2px;
  margin-right: 2px;
}

.icon-alone {
  margin-left: 10px;
  margin-right: 10px;
}

/* .contact > .title-1 {
  font-size: 1.4rem;
} */

@keyframes contact-popup {
  0% {
    top: 100%
  }

  100% {
    top: 80%
  }
}


.right-content {
  /* position: relative; */
  font-size: 0.8rem;
}


.skill-bar {
  display: inline-flex;
  /* justify-content: flex-end; */
}

.skill-level {
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 2px;
}

.skill-0 {
  background-color: var(--darkColor);
}

.skill-1 {
  background-color: var(--greenColor);
}

p {
  margin: 7px 3px;
}

ul {
  padding-inline-start: 2em;
  letter-spacing: 0.5px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

li {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

li>p,
.li-under {
  font-weight: normal;
}

.li-under {
  margin-bottom: 0.3rem;
}

/* flexMiddle container*/

.flexMiddle {
  letter-spacing: 1px;
  word-spacing: 2px;
}

/*  headings specifications*/

.boldUnder {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 5px var(--bgColor);
}

/* lists indentation specifications */

.indenter {
  text-indent: 20px;
}

.indenterList {
  list-style-type: none;
}

/* links */

a:link {
  color: var(--fullColor);
}

a:visited {
  color: #909090;
}

/* media queries */

@media print {
  body {
    background-color: var(--fullColor);
    size: portrait;
    margin: 1%;
    max-width: 100%;
    font-size: 0.6em;
  }

  .flexMiddle {
    border-style: solid;
    border-color: var(--bgColor);
  }

  .flexMiddle>div {
    font-size: 18px;
    color: #000000;
    padding-left: 18%;
  }

  .imageLook {
    height: 14%;
  }

  .flexBottom {
    border-style: solid;
    margin: 2%;
  }

  .flexBottomLeft,
  .flexBottomRight {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 1px;
    margin-bottom: 5px;
    min-width: 15%;
  }

  .flexBottomRight {
    border-style: solid;
    border-color: var(--bgColor);
    border-style: groove;
  }
}

/* bootstrap responsive breakpoints */


/* @media screen and (max-width: 575px) {
  body {
    font-size: 0.6em;
  }
  .flexMiddle {
    font-size: 1em;
  }
  .imageLook {
    width: 70px;
    height: 150px;
    top: -131px;
    left: -17px;
  }
  ul {
    padding-inline-start: 0.7em;
  }
  .flexBottom {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  body {
    font-size: 0.6em;
  }
  .flexMiddle {
    font-size: 1.2em;
  }
  .imageLook {
    width: 85px;
    height: 120px;
    top: -100px;
    left: -18px;
  }
  ul {
    padding-inline-start: 0.7em;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 0.8em;
  }
  .flexMiddle {
    font-size: 1.4em;
  }
  .imageLook {
    width: 115px;
    height: 160px;
    top: -130px;
    left: -22px;
  }
  ul {
    padding-inline-start: 0.8em;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 1em;
  }
  .flexMiddle {
    font-size: 1.7em;
  }
  .imageLook {
    width: 140px;
    height: 190px;
    top: -150px;
    left: -24px;
  }
  ul {
    padding-inline-start: 0.8em;
  }
} */